@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding:0; margin:0;
    box-sizing: border-box;
}


html {
    background-size: 100%;
    background-color: black;
}

body {
    font-family: 'Bebas Neue';
}

.hero {
    height: 35em;
    background-color: green;
    background-position: center;
    background-size:auto;
}

.hero .nav {
    position: absolute;
    top: 2em;
    left: 2em;
}

.hero h1 {
    position: relative;
    margin: 0 auto;
}



.items {
    width: 100%;
    height: 120vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: 0;
    vertical-align:top;
    text-align: center;
    flex-direction: row;
    background-size: cover;
}

.card {
    width: 18rem;
    display: flex;
    flex-direction: column;
    border: solid white
}

.card-body {
    flex: 1 1 auto;
    padding: 1em;
}

p, h3 {
    color: antiquewhite;
}

button {
    align-items: flex-start;

}

footer {
    background-color: black;
    color: white;
    bottom: 0;
    width: 100vw;
    font-size: 16px;
  }
  footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
  }